<!DOCTYPE html>
<html>
	<% include metadata %>
	<body>
		<div class="cogs" id="left"><img src="/img/cogs/left.svg" role="presentation"></div>
		<div class="cogs" id="right"><img src="/img/cogs/right.svg" role="presentation"></div>
		<div id="content">
			<h1><%= __('Em construção!') %></h1>
			<p><%= __('Site atualmente em construção. Por favor, volte mais tarde.') %></p>
		</div>
	</body>
</html>