<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" src="bug.css"/>
		<title><%= title %></title>
	</head>
	<body>
		<h1><%= error.toString().split('\n')[0] %></h1>
		<code><pre><%= error %></pre></code>
	</body>
</html>