<!DOCTYPE html>
<html>
	<% include ../metadata %>
	<body>
		<div id="ie-inner-box">
			<h1><%= __('Desculpe o transtorno!') %></h1>
			<p><%= __('Olá, desculpe o transtorno mas não oferecemos suporte a navegadores com recursos limitados.') %></p>
			<p><%= __('No entanto, você pode ver as atualizações e alternativas mais comuns abaixo.') %></p>
			<br>
			<div id="browsers">
				<a href="http://www.google.com/chrome/?hl=pt-BR"><img src="/img/browsers/chrome.png" alt="Google Chrome"></a>
				<a href="http://www.mozilla.com/pt-BR/firefox/"><img src="/img/browsers/firefox.png" alt="Mozilla Firefox"></a>
				<a href="http://www.apple.com/br/safari/"><img src="/img/browsers/safari.png" alt="Safari"></a>
				<a href="http://www.opera.com/"><img src="/img/browsers/opera.png" alt="Opera"></a>
				<a href="http://windows.microsoft.com/pt-BR/internet-explorer/products/ie/home"><img src="/img/browsers/ie.png" alt="Internet Explorer"></a>
			</div>
		</div>
	</body>
</html>